<template>
    <div class="card ">
        <div class="card-header "> <h4 class="card-header-title">Form Input Pengeluaran</h4></div>
        <div class="card-content">
            <form>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Pilih Rekening</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <b-autocomplete
                                    v-model="pengeluaran.kib"
                                    placeholder="contoh : tanah"
                                    :open-on-focus="true"
                                    :data="filteredDataObj"
                                    field="nama"
                                    @select="option => {selected = option; gantiForm()}">
                                </b-autocomplete>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="field is-horizontal" v-if="form_tanah || form_kibb || form_kibe" >
                    <div class="field-label">
                        <label class="label">Tanggal Pembelian</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                               <b-datepicker v-model="pengeluaran.tanggal_pembelian" placehoder="Pilih Tanggal" ></b-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="field is-horizontal" v-if="form_tanah || form_kibb || form_kibe" >
                    <div class="field-label">
                        <label class="label">Tanggal Pembukuan</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                               <b-datepicker v-model="pengeluaran.tanggal_pembukuan" placehoder="Pilih Tanggal" ></b-datepicker>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="field is-horizontal" v-if="form_kibd" >
                    <div class="field-label">
                        <label class="label">Panjang</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <vue-numeric class="input" v-model="pengeluaran.panjang" separator="." ></vue-numeric>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" v-if="form_kibd" >
                    <div class="field-label">
                        <label class="label">Lebar</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <vue-numeric class="input" v-model="pengeluaran.lebar" separator="." ></vue-numeric>
                        </div>
                    </div>
                </div>
                
                <div class="field is-horizontal" v-if="form_kibcbaru || form_kibcrehab || form_kibd || form_tanah " >
                    <div class="field-label">
                        <label class="label">Luas</label>
                    </div>
                    <div class="field-body">
                        <vue-numeric class="input" v-model="pengeluaran.luas" separator="." ></vue-numeric>
                    </div>
                </div>
                
                <div class="field is-horizontal" v-if="form_kibcbaru || form_kibcrehab || form_kibd || form_tanah " >
                    <div class="field-label">
                        <label class="label">Alamat</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <textarea class="input" v-model="pengeluaran.alamat" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" v-if="form_tanah" >
                    <div class="field-label">
                        <label class="label">Tanggal Sertifikat</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                               <b-datepicker v-model="pengeluaran.tanggal_sertifikat" placehoder="Pilih Tanggal" ></b-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" v-if="form_tanah" >
                    <div class="field-label">
                        <label class="label">No Sertifikat</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <b-input v-model="pengeluaran.no_sertifikat" ></b-input>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" v-if="form_tanah" >
                    <div class="field-label">
                        <label class="label">Penggunaan</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <b-input v-model="pengeluaran.penggunaan" ></b-input>
                        </div>
                    </div>
                </div>
                
                <div class="field is-horizontal" v-if="form_kibb" >
                    <div class="field-label">
                        <label class="label">Merk</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <b-input v-model="pengeluaran.merk" ></b-input>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" v-if="form_kibb" >
                    <div class="field-label">
                        <label class="label">Bahan</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <b-input v-model="pengeluaran.bahan" ></b-input>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" v-if="form_kibcbaru || form_kibcrehab || form_kibd" >
                    <div class="field-label">
                        <label class="label">Tanggal Dokumen</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                               <b-datepicker v-model="pengeluaran.tanggal_dokumen" placehoder="Pilih Tanggal" ></b-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" v-if="form_kibcbaru || form_kibcrehab || form_kibd" >
                    <div class="field-label">
                        <label class="label">No Dokumen</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <b-input v-model="pengeluaran.no_dokumen" ></b-input>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" v-if="form_kibcrehab" >
                    <div class="field-label">
                        <label class="label">Nama Bangunan Asal</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <b-input v-model="pengeluaran.nama_asal" ></b-input>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" v-if="form_kibcrehab" >
                    <div class="field-label">
                        <label class="label">Nilai Bangunan Awal</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <vue-numeric v-model="pengeluaran.nilai_awal" currency="Rp. " separator="." ></vue-numeric>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" v-if="form_kibcrehab" >
                    <div class="field-label">
                        <label class="label">Harga Kapitalisasi</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <vue-numeric class="input" currency="Rp. " v-model="pengeluaran.harga_kapitalisasi" separator="." ></vue-numeric>
                        </div>
                    </div>
                </div>
               
                <div class="field is-horizontal" v-if="form_kibe" >
                    <div class="field-label">
                        <label class="label">Judul</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <b-input v-model="pengeluaran.judul" ></b-input>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" v-if="form_kibe" >
                    <div class="field-label">
                        <label class="label">Pencipta</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <b-input v-model="pengeluaran.pencipta" ></b-input>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" v-if="!form_kibcrehab" >
                    <div class="field-label">
                        <label class="label">Harga</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <vue-numeric class="input" currency="Rp. " v-model="pengeluaran.harga" separator="." ></vue-numeric>
                        </div>
                    </div>
                </div>
                
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Sumber Dana</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <b-select placeholder="Pilih Sumber Dana" v-model="pengeluaran.id_pendapatan" >
                                <option
                                    v-for="option in pendapatan"
                                    :value="option.id"
                                    :key="option.id">
                                    {{ option.nama }}
                                </option>
                            </b-select>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Keterangan</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <textarea class="input" v-model="pengeluaran.keterangan" ></textarea>
                        </div>
                    </div>
                </div>

               
                <div class="field is-horizontal">
                    <button class="button is-success" @click.prevent="simpan()" >Simpan</button>
                    <button class="button is-danger" @click.prevent="batalAct()" >batal</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>

/* `no`, `tanggal_pembelian`, `tanggal_pembukuan`, `luas`, `alamat`, `tanggal_sertifikat`, `no_sertifikat`, `penggunaan`, `harga`, `merk`, `keterangan`, `bahan`, `tanggal_dokumen`, `no_dokumen`, `nama_asal`, `nilai_awal`, `harga_kapitalisasi`, `panjang`, `lebar`, `judul`, `pencipta`, `id_pendapatan`, `id_user`, `id_rekening` */

import axios from 'axios'
import VueNumeric from 'vue-numeric'
import moment from 'moment'
export default {
    components:{
        VueNumeric
    },
    props: {
        batal: {type: Function},
        data:  {type: Object}
    },
    data: function(){
        return {
            pengeluaran: {
                id: '',
                kib : '',
                tanggal_pembelian: new Date(),
                tanggal_pembukuan: new Date(),
                luas : 0,
                alamat : '',
                tanggal_sertifikat : new Date(),
                no_sertifikat : '',
                penggunaan : '',
                harga : 0,
                merk : '',
                keterangan : '',
                bahan : '',
                tanggal_dokumen : new Date(),
                no_dokumen : '',
                nama_asal : '',
                nilai_awal : 0,
                harga_kapitalisasi : 0,
                panjang : 0,
                lebar : 0,
                judul : '',
                pencipta : '',
                id_pendapatan: '',
                id_user : this.$store.state.user.id
            },
            kibs: [],
            selected: null,
            form_tanah: false,
            form_kibb: false,
            form_kibcbaru: false,
            form_kibcrehab: false,
            form_kibd: false,
            form_kibe: false,
            pendapatan: []
        }
    },
    mounted : function (){
        axios.defaults.headers.common['Authorization'] = this.$store.state.user.token;
        this.getKib()
        this.getPendapatan()
        if(Object.keys(this.data).length > 0){
            this.data.tanggal_pembelian = new Date(this.data.tanggal_pembelian)
            this.data.tanggal_pembukuan = new Date(this.data.tanggal_pembukuan)
            this.data.tanggal_sertifikat = new Date(this.data.tanggal_sertifikat)
            this.data.tanggal_dokumen = new Date(this.data.tanggal_dokumen)
            // this.data.kib = ''
            this.data.kib = this.data.rekening

            this[this.data.form] = true

            this.pengeluaran = this.data
        }
    },
    methods: {
        tanggalFormat: function (tgl) {
            return moment(tgl).format("YYYY-MM-DD")
        },
        batalAct: function(){
            this.batal()
        },
        getKib: function(){
            axios.get('/api/util/getKib').then(res => {
                this.kibs = res.data.rows
            })
        },
        getPendapatan: function(){
            axios.get('/api/util/getPendapatan').then(res => {
                this.pendapatan = res.data.rows
            })
        },
        gantiForm: function(){
            this['form_tanah'] = false
            this['form_kibb'] = false
            this['form_kibcbaru'] = false
            this['form_kibcrehab'] = false
            this['form_kibd'] = false
            this['form_kibe'] = false
            if(this.selected !== null){
                this[this.selected.form] = true
            }
        },
        simpan: function(){
            var self = this
            var data = self.pengeluaran
            this.$store.commit('setLoading', true)
            if(self.pengeluaran.id == ''){
                data.id_rekening = this.selected.id
                axios.post('/api/pengeluaran', {data: data})
                .then(res => {
                    if(res.data.success){
                        alert("Data Berhasil disimpan")
                        this.batalAct()
                    } else {
                        alert("Terjadi Kesalahan Database")
                    }
                    this.$store.commit('setLoading', false)
                }).catch(err => {
                    console.log(err)
                    this.$store.commit('setLoading', false)
                })
            } else {
                axios.put('/api/pengeluaran/' + data.id, {data: data})
                .then(res => {
                    if(res.data.success){
                        alert("Data Berhasil diupdate")
                        this.batalAct()
                    } else {
                        alert("Terjadi Kesalahan Database")
                    }
                    this.$store.commit('setLoading', false)
                }).catch(err => {
                    console.log(err)
                    this.$store.commit('setLoading', false)
                })
            }
            
        }
    },
    computed: {
        filteredDataObj() {
            return this.kibs.filter((option) => {
                return option.nama
                    .toString()
                    .toLowerCase()
                    .indexOf(this.pengeluaran.kib.toLowerCase()) >= 0
            })
        }
    }
}
</script>

