<template>
    <div class="card ">
        <div class="card-header "> <h4 class="card-header-title">Form Reklasifikasi {{jenis}}</h4></div>
        <div class="card-content">
            <form>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Pilih Rekening</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <b-autocomplete
                                    v-model="reklas.kib"
                                    placeholder="contoh : tanah"
                                    :open-on-focus="true"
                                    :data="filteredDataObj"
                                    field="nama"
                                    @select="option => selected = option">
                                </b-autocomplete>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Masukkan Jumlah Nominal</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <vue-numeric class="input" currency="Rp. " v-model="reklas.nominal" separator="." ></vue-numeric>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <button class="button is-success" @click.prevent="simpan()" >Simpan</button>
                    <button class="button is-danger" @click.prevent="batalAct()" >batal</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
import VueNumeric from 'vue-numeric'
export default {
    name: 'FormReklas',
    props : {
        jenis: {type: String},
        batal: {type: Function},
        data: {type: Object}
    },
    components:{VueNumeric},
    data(){
        return {
            kibs: [],
            reklas: {
                id: '',
                kib: '',
                nominal: 0,
                id_rekening: '',
                id_user : this.$store.state.user.id
            },
            selected: {}
        }
    },
    mounted(){
        axios.defaults.headers.common['Authorization'] = this.$store.state.user.token
        this.getKib()
        if(Object.keys(this.data).length > 0 ){
            this.data.kib = this.data.nama
            this.reklas = this.data
        }
    },
    methods: {
        simpan : function(){
            if(this.reklas.id == ''){
                let reklas = 1
                if(this.jenis == 'tambah'){
                    reklas = 2
                }
                var self = this
                let data = self.reklas
                data.id_rekening = this.selected.id
                data.reklas = reklas
                this.$store.commit('setLoading', true)
                axios.post('/api/reklasifikasi', {data: data})
                .then(res => {
                    if(res.data.success){
                        alert("Data Berhasil disimpan")
                        this.batalAct()
                    } else {
                        alert("Terjadi Kesalahan Database")
                    }
                    this.$store.commit('setLoading', false)
                }).catch(err => {
                    console.log(err)
                    this.$store.commit('setLoading', false)
                })
            } else {
                this.$store.commit('setLoading', true)
                axios.put('/api/reklasifikasi/' + this.reklas.id, {data: this.reklas})
                .then(res => {
                    if(res.data.success){
                        alert("Data Berhasil di Update")
                        this.batalAct()
                    } else {
                        alert("Terjadi Kesalahan Database")
                    }
                    this.$store.commit('setLoading', false)
                }).catch(err => {
                    console.log(err)
                    this.$store.commit('setLoading', false)
                })
            }
        },
        batalAct: function(){
             this.batal()
        },
         getKib: function(){
            axios.get('/api/util/getKib').then(res => {
                this.kibs = res.data.rows
            })
        },
    },
    computed: {
        filteredDataObj() {
            return this.kibs.filter((option) => {
                return option.nama
                    .toString()
                    .toLowerCase()
                    .indexOf(this.reklas.kib.toLowerCase()) >= 0
            })
        }
    }
    
}
</script>
