<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  <router-link class="navbar-item" to="/" ><img src="~/static/batang.png"></router-link>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <router-link to="/" class="navbar-item" >Dashboard</router-link>
      <router-link to="/pendapatan" class="navbar-item">Pendapatan</router-link>
      <router-link to="/pengeluaran" class="navbar-item">Pengeluaran</router-link>
      <div class="navbar-item has-dropdown is-hoverable" >
        <a class="navbar-link">
          <b-icon icon="account" size="is-medium" ></b-icon> Reklasifikasi
          
        </a>
        <div class="navbar-dropdown">
          <router-link to="/reklasifikasi/tambah" class="navbar-item">Reklasifikasi Tambah</router-link>
          <router-link to="/reklasifikasi/kurang" class="navbar-item">Reklasifikasi Kurang</router-link>
        </div>
      </div>
      <router-link to="/laporan" class="navbar-item">Laporan</router-link>
    </div>

    <div class="navbar-end">
     <div class="navbar-item has-dropdown is-hoverable" v-if="isLogin" >
        <a class="navbar-link">
          <b-icon icon="account" size="is-medium" ></b-icon> {{dataUser.nama_user}}
        </a>

        <div class="navbar-dropdown">
          <router-link v-if="dataUser.hak_akses == 'Admin'" to="/sekolah" class="navbar-item">
            Data Sekolah
          </router-link>
          <a class="navbar-item">
            Ubah Password
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" @click.prevent="logout()" >
            Logout
          </a>
        </div>
      </div>
      <div class="navbar-item" v-if="!isLogin" >
        <div class="buttons">
          <router-link to="/login" class="button is-primary">
            <strong>Login</strong>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</nav>
</template>
<script>
export default {
  name: 'Navbar',
  computed: {
    isLogin : function(){
      return this.$store.state.loggedIn
    },
    dataUser: function(){
      return this.$store.state.user
    }
  },
  methods: {
    logout: function(){
      this.$store.commit('logout')
      this.$router.push('/login')
    }
  }
}
</script>
<style scoped>
  .navbar{
    padding: 0.5rem;
    padding-left: 2rem;
    border-bottom: 1px solid #ddd;
    box-shadow: 2px 2px 30px -10px;
  }
  .navbar-item img{
    max-height: 50px;
  }
  .navbar-menu{
    padding-left: 1rem;
  }
</style>
