<template>
    <div class="columns" >
        <div class="column">
        <table class="table" style="width:100%" >
            <thead>
                <tr>
                    <th>No</th>
                    <th>Rekening</th>
                    <th>Jumlah</th>
                    <th v-if="user.hak_akses == 'Admin'" >User</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="data in filterTable" :key="data.id" >
                    <td>{{data.id}}</td>
                    <td>{{data.nama}}</td>
                    <td>{{data.nominal}}</td>
                    <td v-if="user.hak_akses == 'Admin'" >{{data.nama_user}}</td>
                    <td>
                        <button class="button is-warning" @click.prevent="editAct(data)" >Edit</button>
                        <button class="button is-danger" @click.prevent="hapusAct(data.id)" >Hapus</button>
                    </td>
                </tr>
            </tbody>
            
        </table>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    props: ['jenis', 'edit'],
    data(){
        return {
            reklas: [],
            pencarian: '',
            user: this.$store.state.user
        }
    },
    mounted(){
        axios.defaults.headers.common['Authorization'] = this.$store.state.user.token;
        this.refreshTable()
    },
    computed:{
        filterTable: function(){
            return this.reklas.filter(p => {
                return p.nama.toLowerCase().includes(this.pencarian.toLowerCase())
            })
        }
    },
    methods: {
        refreshTable: function(){
            let jenis = 1
            if(this.jenis == 'tambah'){
                jenis = 2
            }
            axios.get('/api/reklasifikasi/' + jenis)
            .then(resp => {
                this.reklas = resp.data.data
            })
        },
        editAct: function(data){
            this.edit(data)
        },
        hapusAct: function(id){
            if(confirm("Yakin Ingin Hapus?")){
                axios.delete('/api/reklasifikasi/hapus/' + id)
                .then(res => {
                    alert("data berhasil dihapus")
                    this.refreshTable()
                })
            }
        }
    }
}
</script>

