<template>
    <div class="columns" >
        <div class="column">
        <table class="table" style="width:100%" >
            <thead>
                <tr>
                    <th>No</th>
                    <th>Rekening</th>
                    <th>Pendapatan</th>
                    <th v-if="user.hak_akses == 'Admin'" >User</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="data in filterTable" :key="data.id" >
                    <td>{{data.id}}</td>
                    <td>{{data.rekening}}</td>
                    <td>{{data.nama}}</td>
                    <td  v-if="user.hak_akses == 'Admin'" >{{data.nama_user}}</td>
                    <td>
                        <button class="button is-warning" @click="editAct(data)" >Edit</button>
                        <button class="button is-danger" @click="hapus(data.id)" >Hapus</button>
                    </td>
                </tr>
            </tbody>
            
        </table>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    data(){
        return {
            pengeluarans: [],
            pencarian: '',
            user: this.$store.state.user
        }
    },
    props: {
        edit: {type: Function}
    },
    mounted(){
        axios.defaults.headers.common['Authorization'] = this.$store.state.user.token;
        this.refreshTable()
    },
    computed:{
        filterTable: function(){
            return this.pengeluarans.filter(p => {
                return p.rekening.toLowerCase().includes(this.pencarian.toLowerCase())
            })
        }
    },
    methods: {
        refreshTable: function(){
            axios.get('/api/pengeluaran')
            .then(resp => {
                this.pengeluarans = resp.data.data
            })
        },
        hapus: function(id){
            if(confirm("Yakin ingin hapus data?")){
                axios.delete(`/api/pengeluaran/hapus/${id}`)
                    .then(res => {
                        if(res.data.success){
                            alert(res.data.msg)
                            this.refreshTable()
                        }

                    })
            }
        },
        editAct: function(data){
            // console.log(data)
            this.edit(data)
        }
    }
}
</script>

