<template>
  <div>
    <Navbar v-if="loggedIn" ></Navbar>
    <nuxt />
    <b-loading :is-full-page="true" :active.sync="isLoading" ></b-loading>
  </div>
</template>
<script>
  import Navbar from '@/components/Navbar.vue'
  import { mapMutations } from 'vuex'
  export default {
    components: {
      Navbar
    },
    
    computed: {
      loggedIn () {
        return this.$store.state.loggedIn
      },
      isLoading (){
         return this.$store.state.loading
      }
    },
  }
</script>

