<template>
  <div class="container" style="margin-top:5%" >
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Selamat Datang di Aplikasi Aset Dinas Pendidikan
          </h1>
          <h2 class="subtitle">
            Kabupaten Batang
          </h2>

          <div class="columns" style="max-width: 98%;" >
            <div class="column">
              <router-link to="/pendapatan" >
                <div class="box">
                  <h2 class="title">   Pendapatan</h2>
                </div>
              </router-link>
            </div>
            <div class="column">
              <div class="box">
                <h2 class="title">   Pengeluaran</h2>
              </div>
            </div>
            <div class="column">
              <div class="box">
                <h2 class="title">   Reklasifikasi</h2>
              </div>
            </div>
            <div class="column">
              <div class="box">
                <h2 class="title">   Laporan</h2>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  middleware: 'auth',
}
</script>
<style scoped>
  .box:hover{
    background: rgb(9, 0, 153);
    color:#f3f3f5;
  }
  .box:hover .title{
    color:#f3f3f5;
  }
  .box .title{
    color: rgb(9, 0, 153)
  }
  .box{
    cursor: pointer;
  }
</style>

