<template>
    <div class="columns">
    <b-notification type="is-danger" auto-close class="notif" :active.sync="isActive" >
        {{msg}}
    </b-notification>
        <div class="column form is-primary">
            <div class="card">
                <div class="card-header"><p class="title">Form Login</p></div>
               <div class="card-content">
                 <div class="field">
                    <div class="control">
                        <input type="text" v-model="login.username" class="input is-primary" @keyup.13="loginSubmit()" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="password" v-model="login.password" class="input is-primary" @keyup.13="loginSubmit()" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    <button class="button is-primary" @click.prevent="loginSubmit()" >Login</button>
                </div>
               </div>
            </div>
        </div>
        <div class="column is-three-quarters img">
            <div class="content">
                <img src="~/static/batang.png" alt="">
                <h1>Selamat Datang Di aplikasi Aset <br> Dinas Pendidikan Kabupaten Batang</h1>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    name: "Login",
    data () {
        return {
            login : {
                username: '',
                password: ''
            },
            isActive: false,
            msg: ''
        }
    },
    mounted: function(){
        if ( this.$store.state.loggedIn ) this.$router.push('/')
    },
    methods: {
        loginSubmit: function(){
            this.$store.commit('setLoading', true)
            axios.post('api/users/login', this.login ).then(response => {
                if(response.data.success){
                    this.$store.commit('login', response.data.user)
                    this.$store.commit('setLoading', false)
                    this.$router.push('/')
                } else {
                    this.msg = response.data.message
                    this.isActive = true
                    this.$store.commit('setLoading', false)
                }
            })
            .catch(error => {
                console.log(error)
                this.$store.commit('setLoading', false)
            })
        }
    }
}
</script>
<style scoped>
.columns{
    height: 101vh;
}
.form{
    background: #00d1b2;
    box-shadow: 2px 2px 30px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 0.5rem;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content{
    width: 100%;
    text-align: center;
}
.card{
    margin-left: 0.5rem;
    border-radius: 10px;
}
.card-header{
    padding: 1rem;
    text-align: center;
}
.notif{
    position: absolute;
    right: 1%;
    top: 3%;
}
</style>
