<template>
    <div class="container" style="margin-top:1%" >
        <h1 class="title">Pendapatan</h1>
        <button class="button is-primary" v-if="status == ''" @click.prevent="tambah()" >Tambah</button>
        <div class="columns" v-if="status == ''" >
            <div class="column">
            <table class="table" style="width:100%" >
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Asal Pendapatan</th>
                        <th>Tanggal</th>
                        <th>Jumlah</th>
                        <th v-if="user.hak_akses == 'Admin'" >User</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr :key="p.id" v-for="(p, index) in pendapatans" >
                        <td>{{index + 1}}</td>
                        <td>{{p.nama}}</td>
                        <td>{{tanggalFormat(p.tanggal)}}</td>
                        <td>{{p.jumlah}}</td>
                        <th v-if="user.hak_akses == 'Admin'" >{{p.nama_user}}</th>
                        <td>
                            <button class="button is-warning" @click.prevent="edit(p)" >Edit</button>
                            <button class="button is-danger" @click.prevent="hapus(p.id)" >Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <b-pagination
                :total="total"
                :current.sync="current"
                :order="''"
                :size="'is-medium'"
                :simple="false"
                :rounded="false"
                :per-page="perPage">
            </b-pagination>
            </div>
        </div>
        <div class="columns" v-if="status == 'tambah'" >
            <div class="column">
           
                <div class="card ">
                    <div class="card-header "> <h4 class="card-header-title">Form Input Pendapatan</h4></div>
                    <div class="card-content">
                        <form>
                            
                            <div class="field is-horizontal">
                                <div class="field-label">
                                    <label class="label">Asal Pendapatan</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                    <div class="control">
                                        <label class="radio"><input v-model="pendapatan.asal" value="1" type="radio">BOS</label>
                                        <label class="radio"><input v-model="pendapatan.asal" value="2" type="radio">APBN</label>
                                        <label class="radio"><input v-model="pendapatan.asal" value="3" type="radio">KOMITE</label>
                                        <label class="radio"><input v-model="pendapatan.asal" value="4" type="radio">APBD</label>
                                        <label class="radio"><input v-model="pendapatan.asal" value="5" type="radio">HIBAH</label>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="field is-horizontal">
                                <div class="field-label">
                                    <label class="label">Tanggal</label>
                                </div>
                                <div class="field-body">pagination-previous
                                    <div class="field">
                                    <div class="control">
                                        <b-datepicker v-model="pendapatan.tanggal" placehoder="Pilih Tanggal" ></b-datepicker>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="field is-horizontal">
                                <div class="field-label">
                                    <label class="label">Jumlah</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                    <div class="control">
                                        <input type="number" class="input" v-model="pendapatan.jumlah" >
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <button class="button is-success" @click.prevent="simpan()" >Simpan</button>
                                <button class="button is-danger" @click.prevent="batal()" >batal</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
export default {
    name: "Pendapatan",
    middleware: 'auth',
    data(){
        return {
            pendapatans: [],
            pendapatan: {
                id: '',
                asal: '' ,
                tanggal: new Date(),
                jumlah: 0,
                id_user : this.$store.state.user.id
            },
            status: '',
            user: this.$store.state.user,
            total: 0,
            current: 1,
            perPage: 10,
            pencarian: ' '
        }
    },
    computed: {
        
    },
    created: function() {
        this.getPendapatan()
    },
    mounted: function(){
        // document.getElementsByClassName('pagination-previous').innerHTML = "<";
    },
    methods: {
        tanggalFormat: function (tgl) {
            return moment(tgl).format("YYYY-MM-DD")
        },
        tambah: function(){
            this.status = 'tambah'
        },
        edit: function(p){
            this.status = 'tambah'
            p.tanggal = new Date(p.tanggal)
            this.pendapatan = p
            console.log(p)
        },
        batal: function(){
            this.pendapatan = {
                id: '',
                asal: '' ,
                tanggal: new Date(),
                jumlah: 0,
                id_user : this.$store.state.user.id
            }
            this.status = ''
        },
        simpan: function(){
            var self = this
            if(self.pendapatan.id == ''){
                const p = self.pendapatan
                delete p.id
                axios.post('/api/pendapatan', {data: p})
                .then(resp => {
                     if(resp.data.success){
                        alert("Data Berhasil Disimpan")
                        this.getPendapatan()
                        this.batal()
                     }
                }) 
                .catch(err => (console.log(err)))
            } else {
                axios.put(`/api/pendapatan/${this.pendapatan.id}`, {data: this.pendapatan})
                .then(resp => {
                     if(resp.data.success){
                         alert("Data Berhasil diUpdate")
                        this.getPendapatan()
                        this.batal()
                     }
                })
                .catch(err => (console.log(err)))
            }
        },
        hapus: function(id){
            if(confirm("Yakin ingin hapus data?")){
                
                axios.delete(`/api/pendapatan/${id}`)
                    .then(resp => {
                        this.batal()
                        this.getPendapatan()
                    })
                    .catch(err => (console.log(err)))
            }
        },
        getPendapatan: function(){
            var self = this
            axios.defaults.headers.common['Authorization'] = this.$store.state.user.token;
            axios.get(`/api/pendapatan/`, {pencarian: this.pencarian } )
                .then(resp => {
                     if(resp.data.success){
                         self.pendapatans = resp.data.data
                         this.total = resp.data.total
                     }
                })
                .catch(err => (console.log(err)))
        }
    }
}
</script>
<style scoped>
.columns{
    border-top:1px solid rgb(9, 0, 153); 
    margin-top:2%;
}
.card-header {
    background: rgb(9, 0, 153);
}
.card-header  .card-header-title{
    color:#FFF;
}
</style>
