<template>
    <div class="container" style="margin-top:1%" >
        <h1 class="title">Pengeluaran</h1>

         <button class="button is-primary" @click.prevent="tambah()" v-if="status== ''"  >Tambah</button>
         <Table v-if="status== ''" :edit="edit" ></Table>
         <Form v-if="status =='tambah'" :batal="batal" :data="pengeluaran" ></Form>
    </div>
</template>
<script>
import Form from '@/components/FormPengeluaran.vue'
import Table from '@/components/TablePengeluaran.vue'
export default {
    name: "Pengeluaran",
    middleware: 'auth',
    components: {
        Form,
        Table
    },
    data(){
        return {
            status: '',
            pengeluaran: {}
        }
    },
    methods: {
        tambah: function(){
            this.status = 'tambah'
            this.pengeluaran = {}
        }, 
        batal: function(){
            this.status = ''
        },
        edit: function(data){
            // console.log(data)
            this.status = 'tambah'
            this.pengeluaran=data
        }
    }
}
</script>

