<template>
    <div class="container" style="margin-top:1%" >
        <h1 class="title" >Data Sekolah</h1>
        <input type="text" class="input" placeholder="Cari Sekolah ...." v-model="pencarian" >
        <table class="table table-border" style="width:100%"  >
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Sekolah</th>
                    <th>Alamat</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="sekolah in filteredSekolah" :key="sekolah.id" >
                    <td>{{sekolah.id}}</td>
                    <td>{{sekolah.nama}}</td>
                    <td>{{sekolah.alamat}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
import axios from 'axios';
export default {
    name: 'Sekolah',
    middleware: 'auth',
    data(){
        return { 
            sekolahs: [],
            pencarian: ''
        }
    },
    created(){
        this.getSekolah()
    },
    methods: {
        getSekolah : function(){
            axios.get('/api/util/sekolah')
            .then(res => {
                this.sekolahs = res.data.rows
            })
        }
    },
    computed: {
        filteredSekolah: function() {
            return this.sekolahs.filter(s => {
                return s.nama.toLowerCase().includes(this.pencarian.toLowerCase())
            })
        }
    }
}
</script>

