<template>
    <div class="container" style="margin-top:1%" >
        <h1 class="title">Reklasifikasi Kurang</h1>
        <button class="button is-success" v-if="status == ''" @click.prevent="tambah()" >Tambah</button>
        <div class="columns">
            <div class="column" v-if="status == 'tambah'" >
                <FormReklas jenis="kurang"  :batal="batal" :data="reklasifikasi" ></FormReklas>
            </div>
            <div class="column" v-if="status == ''" >
                <TableReklas jenis="kurang" :edit="edit" ></TableReklas>
            </div>
        </div>
    </div>
</template>
<script>
import FormReklas from '@/components/FormReklas.vue'
import TableReklas from '@/components/TableReklas.vue'
export default {
    name: "Kurang",
    middleware: 'auth',
    components: {
        FormReklas,
        TableReklas
    },
    data(){
        return {
            status: '',
            reklasifikasi: {}
        }
    },
    methods: {
        tambah: function(){
            this.status = 'tambah'
        },
        batal: function(){
            this.status = ''
            this.reklasifikasi = {}
        },
        edit: function(data){
            this.status = 'tambah'
            this.reklasifikasi = data
        }
    }
}
</script>
